.Chart-container {
    display: flex;
    font-size: 0;
    flex-wrap:wrap;
    justify-content: center;
    margin-top: 10%;
    max-width: 100%;
    max-height: 100%;
}
.Responsive-chart {
    max-width: 760px;
    margin: 35px auto;
    opacity: 0.9;
}
